body {
    font-family: 'Coda', cursive;
    color: rgb(47, 255, 158);
    background-color: black;
}

.navbar {
    background-color: rgb(47, 255, 158);
    color: black;
}

.navbar-brand:link, .navbar-brand:visited, .navbar-brand:hover, .navbar-brand:active {
    text-decoration: none;
}

.main {
    font-family: 'Coda', cursive;
    color: rgb(47, 255, 158);
    background-color: black;
}


.neko {
    background-image: url("./assets/manekineko.gif");
    background-repeat: no-repeat;
    display: block;
    min-height: 600px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.title {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 100px;
    text-align: center;
    margin-bottom: 30px;
}

.media {
    color: orange;
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.mediaContent {
    margin-right: 15px;
    border: 3px;
    border-style: solid;
    padding: 5px;
}

/* .parallax {
/* The image used */
    /* background-image: url("./assets/manekineko.gif"); */

/* Set a specific height */
    /* min-height: 300px;  */

/* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
} */