body {
    font-family: 'Coda', cursive;
    color: rgb(47, 255, 158);
    background-color: black;
}

.neko {
    background-image: url("./assets/manekineko.gif");
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.title {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 100px;
    text-align: center;
    margin-bottom: 30px;
}

.media {
    color: orange;
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.mediaContent {
    margin-right: 15px;
    border: 3px;
    border-style: solid;
    padding: 5px;
}
